.bg-light {
    .lmj-banner {
        color: black;
        text-align: right;
        padding: 32px;
        border-bottom: solid 3px black;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }

    .Img-nav {
        text-align: center;
    }
    
    
    .bg-light {
        height: 200px;
        width: 200px;
    } 
}