.Footer {
    padding-top: 50px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: black;
}



.footer p {
    font-size: 16px;
}

.Imj-line {
    height:50vh;
    width:.1vw;
    border-width:0;
    color:white;
    background-color:white;
}

.footer h1 {
    font-size: 30px;
    font-weight: bold;
}


.Imj-input input{
    padding: 10px 10px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: black;

}
#button-addon2 {
    padding: 10px 25px;
    border: 1px solid orange;
    border-radius: 40px;
    background-color: orange;
}

.Imj-right {
    margin-left: 380px;
}

.Imj-left span {
    border: 2px solid white;
    border-radius: 100%;
    padding: 2px;
}