.Imj-head {
    border: 1px solid blue;
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    background-image: url('../assets/avi.jpg');
}

.Imj-head h6 {
    font-size: 20px;
    font-weight: bold;
}

.Imj-head p {
    font-size: 40px;
    font-weight: bold;
} 

#shop {
    padding: 10px 30px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
}

#watch {
    padding: 10px 30px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color: blue;
    color: white;
}

#watch i {
    margin-right: 10px;
    color: white;
}