.lmj-product-item-cover {
	height: 450px;
	width: 400px;
	border-radius: 10px;
}

.Imj-text p {
	color: red;
}

.lmj-product-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}