.lmj-product-list {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	
}

.lmj-product-item {
	border: solid 1px white;
	border-radius: 10px;
	height: 450px;
	width: 400px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
} 
